.search-form {
    align-items: center;
    width: 100%;
    max-width: 680px;
  }
  
  .custom-input {
    border-radius: 5px; 
    border: 1px solid #ccc; 
    padding: 5px; 
    align-items: center;
  }
  
  button[type="submit"] {
    width: auto;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--Blue-color);
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(12, 60, 136, 0.929);
  } 


  