.navbar{
    padding: 1.8rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar-brand{
    width: 90px
}
 
.navbar-brand span{
    margin-left: 2rem;
}

.container-fluid{
    width: 100%;
}

.custom-nav{
    margin-right: 2rem;
}

.navbar-content{
    display:flex;
    width: 100%;
}

.navbar-toggler-btn{
    transition: var(--transition);
    z-index: 11;
} 

.show-navbar-collapse {
    transform: translateX(0);
}

.nav-item{
    margin-bottom: 1.4rem;
    margin-left: 1rem;
}

.nav-link{
    transition: var(--transition);
}

.nav-link:hover{
    color: var(--White-color);
}
