.search-form {
    align-items: center;
    width: 680px;
    max-width: 680px;
  }
  
  .custom-input {
    border-radius: 5px; /* Define o raio da borda arredondada do input */
    border: 1px solid #ccc; /* Define a cor e a espessura da borda do input */
    padding: 5px; /* Define o espaçamento interno do input */
    align-items: center;
  }
  
  button[type="submit"] {
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--Blue-color);
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(12, 60, 136, 0.929);
  } 


/* .form-control{
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
} */


  /* input[type="search"] {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 100%;
  }

  */
  